# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Frontend build
node_modules/
dist/
dist-ssr/
coverage/

# AWS / configs
*.pem
*.key
*.crt
*.csv
.aws/

# Docker
*.pid
*.seed
*.pid.lock

# Jupyter notebooks
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store
